<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="werules_messenger_chatbox" sortOrder="999" translate="label">
            <label>Messenger Chatbox</label>
        </tab>
        <section id="werules_messenger_chatbox" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>General Settings</label>
            <tab>werules</tab>
            <resource>Werules_MessengerChatbox::config_werules_messengerchatbox</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General Settings</label>
                <comment><![CDATA[
                <h3>Messenger Chatbox v1.0.0</h3>
                <p>To use this module you'll have to add your domain to Facebook Whitelist. Click <a href="https://developers.facebook.com/docs/messenger-platform/reference/messenger-profile-api/domain-whitelisting#page_settings">her</a> to check how you can do that.</p>
                ]]></comment>
                <field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1" translate="label" type="select">
                    <label>Enable</label>
                    <comment>Enable module?</comment>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <!--<field id="language" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1" translate="label comment tooltip" type="select">-->
                    <!--<label>Language</label>-->
                    <!--<comment>Language. Not all languages are available.</comment>-->
                    <!--<source_model>Werules\MessengerChatbox\Block\Adminhtml\System\Config\Form\Field\LanguageList</source_model>-->
                <!--</field>-->
                <field id="app_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="2" translate="label" type="text">
                    <label>Facebook Application ID</label>
                    <comment><![CDATA[
                    Your App ID. Create one <a href="https://developers.facebook.com/docs/apps/register">here</a>.
                    ]]></comment>
                </field>
                <field id="page_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="3" translate="label" type="text">
                    <label>Facebook Page ID</label>
                    <comment><![CDATA[
                    Your Facebook Page ID. Click <a href="https://www.facebook.com/help/community/question/?id=378910098941520">here</a> to check yours.
                    ]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
